@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

h1{     
    font-family: "Italianno", cursive;
    font-weight: 600;
    font-size: 90px;
}

h2{
    font-family: "Italianno", cursive;
    font-weight: 600;
    font-size: 50px;
}

h1, h2{
    text-transform: uppercase;
    text-transform: bold;
    text-spacing-trim: space-all;
}

body{
    font-family: "Italianno", cursive;
    font-weight: 100;
    background-color: lightgray;
    color: black;

}
p{
    line-height: 1.6;
    font-size: 1.1rem;
    
}

a:link{
    color: rgb(54, 23, 228);

}

a:visited {
    color: rgb(128, 0, 70);
  }

  a:hover {
    text-decoration: underline; background-color: ;
  }

